.box1 {
    height: 350px;
    width: 450px;
    border-color: #BCBCBC;
    
}

.box1 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
}

.box2 {
    height: 550px;
    width: 500px;
    border-color: rgb(255, 255, 255);
    background-color: rgb(243, 243, 243);
}